<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Register!
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-left (click)="prev()">
        <ion-icon name="arrow-back"></ion-icon> Prev</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-right (click)="next()">Next
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (submit)="onSubmit(regisForm)" #regisForm="ngForm">
    <ion-slides #signupSlider>
      <ion-slide>
        <ion-item>
          <ion-label>First Name</ion-label>
          <ion-input  name="firstName"  [(ngModel)]="firstName"
            readonly></ion-input>
        </ion-item>
        <ion-item no-lines>

        </ion-item>

        <ion-item>
            <ion-label>Last Name</ion-label>
            <ion-input  name="lastName"  [(ngModel)]="lastName"
              readonly></ion-input>
          </ion-item>

          <ion-item no-lines>

            </ion-item>

          <ion-item>
              <ion-label>Email</ion-label>
              <ion-input  name="user"  [(ngModel)]="user"
                readonly></ion-input>
            </ion-item>

            <ion-item no-lines>

              </ion-item>


        <ion-item>
          <ion-label>Date of Birth *</ion-label>
          <ion-input type="date" name="dob" ngModel #dob="ngModel" required></ion-input>
        </ion-item>
        <!-- The below code refers to incase the above validation
                conditions fail then an error message is displayed -->
        <ion-item no-lines>
          <p *ngIf="(regisForm.submitted || dob.touched) && dob.invalid" style="color: #ea6153;">
            <span *ngIf="dob.errors.required">
              Please fill in your date of birth.<br> Format: MM/DD/YYYY
            </span>
            <span *ngIf="dob.errors.pattern">
              Invaild pattern
              Format: MM/DD/YYYY
            </span>
          </p>
        </ion-item>

        <ion-item>
          <ion-label floating>Mobile Number*</ion-label>
          <ion-input type="text" name="mobileNumber" ngModel #mobileNumber="ngModel" pattern='[0-9]{10}' required></ion-input>
        </ion-item>
        <!-- The below code refers to incase the above validation
                  conditions fail then an error message is displayed -->
        <ion-item no-lines>
          <p *ngIf="(regisForm.submitted || mobileNumber.touched) && mobileNumber.invalid" style="color: #ea6153;">
            <span *ngIf="mobileNumber.errors.required">
              Please fill in your phone number
            </span>
            <span *ngIf="mobileNumber.errors.pattern">
              Invaild pattern. Only numbers
            </span>
          </p>
        </ion-item>
      </ion-slide>
      <ion-slide>
        <ion-item>
          <ion-label floating>Address 1 *</ion-label>
          <ion-input type="text" name="address1" ngModel #address1="ngModel" required></ion-input>
        </ion-item>
        <!-- The below code refers to incase the above validation
            conditions fail then an error message is displayed -->
        <ion-item no-lines>
          <p *ngIf="(regisForm.submitted || address1.touched) && address1.invalid" style="color: #ea6153;">
            <span *ngIf="address1.errors.required">
              Please fill in your address
            </span>
            <!-- <span *ngIf="address1.errors.pattern">
                  Invaild pattern
                </span> -->
          </p>
        </ion-item>

        <ion-item>
          <ion-label floating>Address 2</ion-label>
          <ion-input type="text" name="address2" ngModel #address2="ngModel"></ion-input>
        </ion-item>
        <ion-item no-lines>

        </ion-item>

        <ion-item>
          <ion-label floating>County *</ion-label>
          <ion-input type="text" name="county" ngModel #county="ngModel" pattern="[a-zA-Z ]+" required></ion-input>
        </ion-item>
        <!-- The below code refers to incase the above validation
              conditions fail then an error message is displayed -->
        <ion-item no-lines>
          <p *ngIf="(regisForm.submitted || county.touched) && county.invalid" style="color: #ea6153;">
            <span *ngIf="county.errors.required">
              Please fill in your county
            </span>
            <span *ngIf="county.errors.pattern">
              Invaild pattern. Only alphabets
            </span>
          </p>
        </ion-item>

        <ion-item>
          <ion-label floating>City *</ion-label>
          <ion-input type="text" name="city" ngModel #city="ngModel" pattern="[a-zA-Z ]+" required></ion-input>
        </ion-item>
        <!-- The below code refers to incase the above validation
                conditions fail then an error message is displayed -->
        <ion-item no-lines>
          <p *ngIf="(regisForm.submitted || city.touched) && city.invalid" style="color: #ea6153;">
            <span *ngIf="city.errors.required">
              Please fill in your city
            </span>
            <span *ngIf="city.errors.pattern">
              Invaild pattern. Only alphabets
            </span>
          </p>
        </ion-item>

        <ion-item>
          <ion-label floating>State *</ion-label>
          <ion-input type="text" name="state" ngModel #state="ngModel" pattern="[a-zA-Z ]+" required></ion-input>
        </ion-item>
        <!-- The below code refers to incase the above validation
                  conditions fail then an error message is displayed -->
        <ion-item no-lines>
          <p *ngIf="(regisForm.submitted || state.touched) && state.invalid" style="color: #ea6153;">
            <span *ngIf="state.errors.required">
              Please fill in your state
            </span>
            <span *ngIf="state.errors.pattern">
              Invaild pattern. Only alphabets
            </span>
          </p>
        </ion-item>

        <ion-item>
          <ion-label floating>Country *</ion-label>
          <ion-input type="text" name="country" ngModel #country="ngModel" pattern="[a-zA-Z ]+" required></ion-input>
        </ion-item>
        <!-- The below code refers to incase the above validation
                    conditions fail then an error message is displayed -->
        <ion-item no-lines>
          <p *ngIf="(regisForm.submitted || country.touched) && country.invalid" style="color: #ea6153;">
            <span *ngIf="country.errors.required">
              Please fill in your country
            </span>
            <span *ngIf="country.errors.pattern">
              Invaild pattern. Only alphabets
            </span>
          </p>
        </ion-item>
      </ion-slide>
      <ion-slide>

        <!-- <ion-item>
          <ion-label color="primary">Skills</ion-label>
        </ion-item> -->
        <!-- <ion-label>CERT</ion-label>
            <ion-checkbox ></ion-checkbox>  -->



        <ion-item>
          <ion-label color="primary">Skills*</ion-label>
          <!-- <ion-input
                  name="skills"
                  ngModel
                  #skills="ngModel"
                  required> -->
          <ion-select multiple="true" name="skills" ngModel #skills="ngModel" required>
            <ion-option>CERT</ion-option>
            <ion-option>EMR</ion-option>
            <ion-option>Firefighter</ion-option>
            <ion-option>EMT-B</ion-option>
            <ion-option>EMT-A</ion-option>
            <ion-option>Sworn LE Officer</ion-option>
            <ion-option>EMT-P</ion-option>
            <ion-option>LPN</ion-option>
            <ion-option>RN</ion-option>
            <ion-option>RN-NP</ion-option>
            <ion-option>PA</ion-option>
            <ion-option>MD/DO</ion-option>
            <ion-option>None</ion-option>
            <!-- </ion-input>   -->
          </ion-select>
        </ion-item>
        <ion-item no-lines>
          <p *ngIf="(regisForm.submitted || skills.touched) && skills.invalid" style="color: #ea6153;">
            <span *ngIf="skills.errors.required">
              Please select your respective skills 
            </span>
            <!-- <span *ngIf="skills.errors.pattern">
                      Invaild pattern
                    </span> -->
          </p>
        </ion-item>

        <ion-item>
          <ion-label floating>License/Certification*</ion-label>
          <ion-input type="text" name="licenseNumber" ngModel #licenseNumber="ngModel" pattern="[a-zA-Z0-9]+" required></ion-input>
        </ion-item>
        <!-- The below code refers to incase the above validation
          conditions fail then an error message is displayed -->
        <ion-item no-lines>
          <p *ngIf="(regisForm.submitted || licenseNumber.touched) && licenseNumber.invalid" style="color: #ea6153;">
            <span *ngIf="licenseNumber.errors.required">
              Please fill in your license number.<br>
              If not enter "none"
            </span>
            <span *ngIf="licenseNumber.errors.pattern">
              Invaild pattern. Only alphabets and numbers
            </span>
          </p>
        </ion-item>

        <ion-item>
          <ion-label color="primary">Choose a file to upload
            <br>
          </ion-label>
          <ion-input type="file" name="files" ngModel (change)="onFileChange($event)" #files="ngModel" accept="file_extension"></ion-input>
        </ion-item>

        <ion-icon name="camera" (click)="takePicture()"></ion-icon>
         Capture Picture
        <img [src]="base64Image" *ngIf="base64Image" />
        <br>


        <ion-item>
          <ion-label floating>Limitations*</ion-label>
          <ion-input type="text" name="limitations" ngModel #limitations="ngModel" pattern="[a-zA-Z ]+" required></ion-input>
        </ion-item>
        <!-- The below code refers to incase the above validation
            conditions fail then an error message is displayed -->
        <ion-item no-lines>
          <p *ngIf="(regisForm.submitted || limitations.touched) && limitations.invalid" style="color: #ea6153;">
            <span *ngIf="limitations.errors.required">
              Please fill in limitations if any.<br>
              If not enter "none"
            </span>
            <span *ngIf="limitations.errors.pattern">
              Invaild pattern. Only alphabets
            </span>
          </p>
        </ion-item>
        <ion-item>
          <ion-label>I agree to receive push
            <br> notifications*</ion-label>
          <!-- <ion-input
              name="skills"
              ngModel
              #skills="ngModel"
              required> -->
          <ion-select name="pushNotification" ngModel #pushNotification="ngModel" required>
            <ion-option checked="true">Yes</ion-option>

            <!-- </ion-input>   -->
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <p *ngIf="(regisForm.submitted || pushNotification.touched) && pushNotification.invalid" style="color: #ea6153;">
            <span *ngIf="pushNotification.errors.required">
              Select "Yes"
            </span>
            <!-- <span *ngIf="skills.errors.pattern">
                  Invaild pattern
                </span> -->
          </p>
        </ion-item>

        <button ion-button block color="lightprimary" type="submit">Submit</button>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>