<!--
  Generated template for the ReportDisasterPage page.

  Assigned to Chandra Mouli
-->
<!-- @author Chandra Mouli Kantipudi-->
<ion-header>

  <ion-navbar>
    <!-- Title of page Report form -->
    <ion-title color="primary">Report Form</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (submit)="onSubmit(reportForm)" #reportForm="ngForm">
    <ion-item no-lines>
      <ion-label color="primary">Please fill the below details</ion-label>
    </ion-item>
    <!-- <ion-item>
      <ion-label floating>ReportID</ion-label>
      <ion-input
        type="text"
        name="reportID"
        ngModel
        #reportID="ngModel"></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-label>Report By</ion-label>
      <ion-input  name="reportedBy" value={{user}} ngModel #reportedBy="ngModel"
        readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label >Incident &nbsp;&nbsp;</ion-label>
      <ion-input name="incidentName" value={{incidentClicked}}  ngModel  #incidentName="ngModel"
        readonly></ion-input>
    </ion-item>

    <ion-item><ion-label color="primary">Choose a file to upload <br></ion-label></ion-item>
    <ion-item>

        <ion-input  type="file"  name="files"  ngModel  #files="ngModel"
          accept="file_extension"></ion-input>
    </ion-item>

    <ion-item no-lines>
        <ion-icon name="camera" (click)="takePicture()"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label color="primary">GPS</ion-label>
      <!-- Button to fetch gps coordinates should still work on the functionality -->
    </ion-item>
    <ion-item no-lines>
      <ion-icon name="locate" (click)="getLocation()"> Click to fetch current location</ion-icon>
    </ion-item>

        <ion-item>
            <ion-label>Latitude:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
            <ion-input
            value={{lat}}
            name="location.lat"
            ngModel
            #location.lat="ngModel"
            readonly></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Longitude:</ion-label>
            <ion-input name="location.lng" value={{lng}} ngModel #location.lng="ngModel"
            readonly></ion-input>
        </ion-item>



    <ion-item>
      <ion-label color="primary">
          Casualities
          <!-- List of types of casualities are provided user have to provide number for each type -->
      </ion-label>
    </ion-item>
    <ion-list>
        <ion-item>
            <ion-label color="red" Fixed>Red</ion-label>
            <ion-input
              type="number"
              placeholder="Enter number"
              name="casualties.red"
              ngModel
              #casualties.red="ngModel"
              pattern='[0-9]+'
              required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="yellow" Fixed>Yellow</ion-label>
            <ion-input
              type="number"
              placeholder="Enter number"
              name="casualties.yellow"
              ngModel
              #casualties.yellow="ngModel"
              pattern='[0-9]+'
              required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="green" Fixed>Green</ion-label>
            <ion-input
              type="number"
              placeholder="Enter number"
              name="casualties.green"
              ngModel
              #casualties.green="ngModel"
              pattern='[0-9]+'
              required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="black" Fixed>Black</ion-label>
            <ion-input
              type="number"
              placeholder="Enter number"
              name="casualties.black"
              ngModel
              #casualties.black="ngModel"
              pattern='[0-9]+'
              required></ion-input>
        </ion-item>
    </ion-list>


    <ion-item>
        <ion-label color="primary">Structure Damage</ion-label>
        <ion-select multiple="false"
        name="structuralDamage"
        ngModel
        #structuralDamage="ngModel"
        required>
          <ion-option>Low</ion-option>
          <ion-option>Medium</ion-option>
          <ion-option>High</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label color="primary">Fire</ion-label>
        <ion-select multiple="false"
        name="fire"
        ngModel
        #fire="ngModel"
        required>
          <ion-option>Low</ion-option>
          <ion-option>Medium</ion-option>
          <ion-option>High</ion-option>
        </ion-select>
      </ion-item>

      <!-- utilities -->
      <ion-item>
          <ion-label color="primary">Utilities</ion-label>
          <ion-select multiple="true"
          name="utilities"
          ngModel
          #utilities="ngModel"
          required>
            <ion-option>Electricity</ion-option>
            <ion-option>Gas</ion-option>
            <ion-option>Chemical</ion-option>
          </ion-select>
      </ion-item>


      <ion-item>
        <ion-label floating>HazMat</ion-label>
        <ion-input
          type="text"
          name="hazmat"
          ngModel
          #hazmat="ngModel"
          pattern='[a-zA-Z]+'
          required></ion-input>
      </ion-item>
      <ion-item no-lines>
        <p *ngIf="(reportForm.submitted || hazmat.touched) && hazmat.invalid" style="color: #ea6153;">
          <span *ngIf="hazmat.errors.required">
            Please fill in your first name
          </span>
          <span *ngIf="hazmat.errors.pattern">
            Invaild pattern
          </span>
        </p>
      </ion-item>

      <ion-item>
          <ion-label floating>Others</ion-label>
          <ion-input
            type="text"
            name="others"
            ngModel
            #others="ngModel"
            pattern='[a-zA-Z]+'
            required></ion-input>
        </ion-item>
        <ion-item no-lines>
          <p *ngIf="(reportForm.submitted || others.touched) && others.invalid" style="color: #ea6153;">
            <span *ngIf="others.errors.required">
              Please fill in your first name
            </span>
            <span *ngIf="others.errors.pattern">
              Invaild pattern
            </span>
          </p>
        </ion-item>

    <button ion-button block color="lightprimary" type="submit">Submit</button>
  </form>
</ion-content>

<iframe src="http://localhost:8200" allow="geolocation; microphone; camera"></iframe>
